.auth{
    margin-left: 38%;
    margin-top: 10%;
    max-width: 530px;
    // height: 380px;

    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    text-align: center;


    .input{
        margin-top: 5%;
        width: 70%;
    }
    .marginLabel{
        margin-top: 20px;
    }
}

body{
    background-image: url(../../login_background.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}